/* 
    Contains all of the style properties of windows in the application
    Author     : Steven Maio
*/
.color_picker {
    -fx-padding: 2px;
    /*-fx-max-width: 50px;*/
    -fx-color-label-visible: false ;
}

.edit_toolbar_row {
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.edit_toolbar_sub_row {
    -fx-alignment: center;
    -fx-padding: 0px;
    -fx-spacing: 5;
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-padding: 5;
    -fx-margin: 5;
}

.edit_toolbar { 
    -fx-background-color: linear-gradient(cadetblue, cornflowerblue);
    -fx-max-width: 300px;
    -fx-margin-left: 20px;
}

.color_chooser_pane {
    -fx-background-color:seashell;
    -fx-padding: 0px;
}

.color_chooser_control {
    -fx-font-weight:bold;
    -fx-font-size:20;     
}

.bordered_pane {
    -fx-background-color: linear-gradient(cornflowerblue, cadetblue);
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: whitesmoke;
}

.external_pane {
    -fx-spacing: 10;
    -fx-padding: 15;
    -fx-alignment: center;
}